/* assets/css/global.css */

* {
    font-family: 'Roboto', sans-serif; /* Apply the global font */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  